{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">

    </style>
    <div class="product_block">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="">
        {% endif %}
        <h1>{{ product.title }} <br> Rate: {{ product.rate }}</h1>
        <h5>{{ product.description }}</h5>
        <div class="dates">
            <h5>{{ product.created_date }}</h5>
            <h5>{{ product.modified_date }}</h5>
        </div>
    </div>

{% endblock %}