{% extends 'layouts/index.html' %}

{% block content %}

    <style type="text/css">
        .products {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    </style>

    <div class="products">
        {% for product in products  %}
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate: {{ product.rate }}</h6>
                    <a href="/product/{{ product.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}